
.App {
    text-align: center;
    margin: 20px;
  }
  
  .gif-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gif-container img {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
  }
  